<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tqq.ssm.mapper.EmployeeMapper">

    <sql id="empFields">
        emp_name,gender,email,dept_id
    </sql>

    <insert id="addEmployee" parameterType="Employee">
        insert into employee (<include refid="empFields"/>) values (#{empName},#{gender},#{email},#{deptId})
    </insert>

    <insert id="batchAddEmployee" parameterType="Employee">
        insert into employee (<include refid="empFields"/>) values
        <foreach collection="list" item="employee" separator=",">
            (#{employee.empName},#{employee.gender},#{employee.email},#{employee.deptId})
        </foreach>
    </insert>

    <delete id="deleteEmployeeById" parameterType="Integer">
        DELETE FROM employee WHERE emp_id = #{id}
    </delete>

    <delete id="deleteEmployeeByIds" parameterType="Integer">
        DELETE FROM employee WHERE emp_id IN
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteAllEmployee">
        DELETE FROM employee
    </delete>

    <update id="updateEmployee" parameterType="Employee">
        update employee set emp_name = #{empName},gender=#{gender},email=#{email},dept_id=#{deptId} where emp_id = #{empId}
    </update>

    <resultMap id="empMap" type="Employee">
        <id property="empId" column="emp_id"></id>
        <result property="empName" column="emp_name"></result>
        <result property="gender" column="gender"></result>
        <result property="email" column="email"></result>
        <association property="department" select="cn.tqq.ssm.mapper.DepartmentMapper.getDepartmentById"
                     column="dept_id"></association>
    </resultMap>
    <select id="getEmployeeById" parameterType="Integer" resultMap="empMap">
        SELECT * FROM employee WHERE emp_id = #{empId}
    </select>

    <select id="getEmployeeByDeptId" parameterType="Integer" resultType="Employee">
      select * from employee where dept_id = #{deptId}
    </select>

    <resultMap id="empWithDeptMap" type="Employee">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="gender" property="gender"></result>
        <result column="email" property="email"></result>
        <result column="dept_id" property="deptId"></result>
        <association property="department" javaType="Department">
            <id property="deptId" column="dept_id"></id>
            <result property="deptName" column="dept_name"></result>
        </association>
    </resultMap>
    <select id="getAllEmployee" resultMap="empWithDeptMap">
      SELECT e.emp_id,e.emp_name,e.gender,e.email,e.dept_id,d.dept_id,d.dept_name FROM employee e LEFT JOIN department d ON e.dept_id = d.dept_id
    </select>

    <select id="getEmployeeByName" resultType="cn.tqq.ssm.entity.Employee" parameterType="String">
      SELECT * FROM employee WHERE emp_name = #{empName}
    </select>

</mapper>